@font-face 
      font-family: Trajan Pro 
      src: url(/.fonts/Trajan)



*
      margin 0
      padding 0
      box-sizing border-box



.description
      max-width 1920px
      width 100%

      margin 0 auto

      &__container 
            max-width 1920px
            width 100%

            &-values 
                  max-width 1920px
                  width 100%

                  padding 64px 32px

                  background #232323

            h2
                  text-align center
                  text-transform uppercase

                  margin-bottom 16px
                  
                  font-family Trajan Pro;
                  font-style normal
                  font-weight 100
                  font-size 38px
                  line-height 46px
                  
                  
                  color #FAFAFA 

            ul
                  display flex

                  justify-content space-between
                  align-items center

                  max-width 1856px
                  width 100%

                  

            li 
                  max-width 440px
                  width 100%

                  padding 16px
            
            svg 
                  margin-bottom 16px


            h3

                  text-transform uppercase

                  margin-bottom 16px

                  font-family Trajan Pro
                  font-style normal
                  font-weight normal
                  font-size 20px
                  line-height 28px

                  color #FAFAFA

            p 
                  font-family Poppins
                  font-style normal
                  font-weight normal
                  font-size 16px
                  line-height 24px
                  
                  color #B0B0B0


            .white
                  text-align center
                  
                  margin-bottom 64px

                  font-family Poppins
                  font-style normal
                  font-weight normal
                  font-size 20px
                  line-height 28px
                  
                  color #FAFAFA 